@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-light';
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-lightItalic';
    src: url(../fonts/Roboto-Lightitalic.ttf);
}
@font-face {
    font-family: 'Roboto-bold';
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto-medium';
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto-thin';
    src: url(../fonts/Roboto-Thin.ttf);
}
body {
    font-family: Roboto-medium, sans-serif;
    line-height: 29px;
}
/*===================================================
Books list*/
.required-field {
    margin-bottom: 0;
}
.error-message {
    font-size: 12px;
    color: red;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.md-theme-default.md-switch.md-checked .md-ink-ripple {
    color: blue !important;
}
.md-theme-default.md-switch.md-checked .md-switch-thumb {
    background-color: blue !important;
}
.header {
    width: 96%;
    margin: 0 auto;
}
.header h2 {
    display: inline-block;
    margin: 2% 0 0 5%;
    padding: 0 15px;
    background-color: #00b5f2;
    color: #fff;
    line-height: 1.3;
    font-size: 3rem;
    font-family: Roboto-medium;
    text-transform: uppercase;
}
.add-book {
    text-align: right;
    font-family: Roboto-medium, sans-serif;
}
.add-book button {
    background-color: #00b5f2;
    text-transform: uppercase;
    padding: 8px 25px;
    color: #fff;
    border-radius: 3px;
    transition: .6s;
}
.add-book button:hover {
    background-color: #4ccff5;
}
.table__overflow {
    width: 96% !important;
    margin: 0 auto 20px auto;
    background: url("../images/background.png") top center no-repeat;
    box-shadow: 0 0 10px #00b5f2 !important;
    webkit-box-shadow: 0 1px 3px #00b5f2, 0 1px 1px #00b5f2, 0 2px 1px -1px #00b5f2 !important;
}
.datatable thead th, button {
    outline: none;
}
table.table thead td:not(:nth-child(1)), table.table tbody td:not(:nth-child(1)), table.table thead th:not(:nth-child(1)),
table.table tbody th:not(:nth-child(1)), table.table thead td:first-child, table.table tbody td:first-child, table.table thead th:first-child,
table.table tbody th:first-child {
    padding: 0 15px;
}
.datatable.table thead tr th, table.table tbody .text-xs-right {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-family: Roboto-medium, sans-serif;
}
table.table tbody .text-xs-right {
    vertical-align: center;
}
table.table tbody td {
    font-size: 20px;
    height: 80px;
}
table.table tbody td:first-child {
    padding: 0 0px 0 15px;
}
table.table tbody td:first-child {
    width: 1px;
}
table.table tbody tr {
    border-bottom: 1px solid #b7b7b7;
    height: 65px;
}
table.table tbody tr:last-child {
    border-bottom: none;
}
.datatable.table thead tr th:nth-child(1), table.table tbody .text-xs-right:nth-child(1) {
    text-align: left !important;
}
.datatable.table thead tr th:nth-child(2), table.table tbody .text-xs-right:nth-child(2) {
    max-width: 64px;
    text-align: left !important;
}
.datatable.table thead tr th:nth-child(3), table.table tbody .text-xs-right:nth-child(3) {
    text-align: left !important;
    max-width: 50px;
}
table.table tbody .text-xs-right:nth-child(3) {
    color: gray;
}
.datatable.table thead tr th:nth-child(4), table.table tbody .text-xs-right:nth-child(4) {
    padding: 0 5px;
    text-align: center !important;
    max-width: 35px;
}
.datatable.table thead tr th:nth-child(5), table.table tbody .text-xs-right:nth-child(5) {
    padding: 0 5px;
    text-align: center !important;
    max-width: 30px;
}
.datatable.table thead tr th:nth-child(6), table.table tbody .text-xs-right:nth-child(6) {
    padding: 0 5px;
    text-align: right !important;
    width: 35px;
}
.table.table tbody .text-xs-right:nth-child(2):first-child {
    margin-top: 0px;
}
table.table tbody .text-xs-right:nth-child(6) button {
    margin: 0 15px 7px 15px;
    border-radius: 3px;
    transition: .1s;
}
table.table tbody .text-xs-right:nth-child(6) button:hover {
    color: #4ccff5;
}
.star {
    position: absolute;
    margin: -9px 0 0 -12px;
    color: #ffbd00;
}
.description {
    position: absolute;
    margin: 35px 0 0 -13px;
    transition: .1s;
}
.description:hover {
    color: #4ccff5;
}
.table.table tbody .text-xs-right:nth-child(2) {
    margin: 20px 12px 10px 0;
    max-width: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}
.vue-star-rating-rating-text[data-v-34cbeed1] {
    display: none;
}
.dialog {
    background-color: #ffffff;
}
.card__text {
    height: 100%;
}
table.table tbody .text-xs-right:nth-child(5) button {
    padding: 2px 25px;
    background-color: #00b5f2;
    color: #fff;
    border-radius: 3px;
    margin-bottom: 5px;
    transition: .6s;
}
table.table tbody .text-xs-right:nth-child(5) button:hover {
    background-color: #4ccff5;
}
.search-books {
    margin-bottom: 26px;
    color: #000 !important;
    width: 50%;
}
.badge {
    position: absolute;
    background: #8b9fb7;
    margin: -10px 0 0 -10px;
    padding: 5px;
    font-size: 13px;
    border-radius: 13%;
    color: #fff;
    border: #8b9fb7;
    line-height: 10px;
}
.comment-popup .dialog.dialog--active {
    max-width: 500px !important;
}
.comment-popup .card {
    min-height: 200px;
    max-height: 500px;
}
.comment-popup .title {
    margin: -30px 0 0 5px;
    max-width: 390px;
    height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 24px;
}
.comment-popup .star {
    margin: -26px 0 0 38px;
}
.comment-popup .author {
    position: absolute;
    margin: 20px 0 0 55px;
    font-size: 14px;
    max-width: 390px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: gray;
}
.comment-popup .dialog:not(.dialog--fullscreen) {
    max-height: none;
}
.comment-popup .card__text {
    height: auto;
}
.description-popup .dialog {
    overflow-y: hidden;
}
.description-popup .card__text {
    overflow-y: scroll;
    max-height: 565px;
}
.description-popup .dialog:not(.dialog--fullscreen) {
    max-height: none;
}
.delete-popup .card__text {
    text-align: center;
    font-size: 18px;
}
.create-book-popup .dialog {
    max-width: 500px !important;
}
.create-book-popup .count {
    width: 10%;
}
.md-menu-content.md-direction-bottom-right.md-active {
    z-index: 1000;
    width: 20%;
    margin: 10px 5px;
}
.set-status-popup .dialog {
    max-width: 186px !important;
}
.set-status-popup .statuses .status {
    color: #fff;
    width: 140px;
}
.open-popup .primary {
    background-color: #00b5f2 !important;
    border-color: #00b5f2 !important;
}
.open-popup .header {
    width: 100%;
    color: #fff;
}
.open-popup .header .author {
    font-size: 14px;
}
.open-popup .info {
    display: inline-block;
    width: 50%;
    max-height: 100%;
    background-color: #fff !important;
    overflow: hidden;
    overflow-y: auto;
}
.open-popup .info.info-max-width{
    width: 100%;
}
.open-popup .info .btn-descrition {
    vertical-align: top;
    padding: 0px;
    height: 25px;
    margin-bottom: 0;
}
.open-popup .info .btn-descrition:hover {
    color: #00b5f2;
}
.open-popup .comments {
    display: inline;
    position: absolute;
    margin-left: 4%;
    width: 44%;
    max-height: 90%;
    background-color: #fff !important;
    overflow: hidden;
    overflow-y: auto;
}
.open-popup .comments .area {
    overflow: hidden;
    max-height: 500px;
    background: rgba(83, 92, 95, 0.25);
    border: 1px solid;
    padding: 10px;
    border-radius: 4px;
    border-color: rgba(83, 92, 95, 0.25);
    overflow-y: auto;
}
.open-popup .comments .area .comment .triangle-left {
    display: inline-block;
    margin: 0;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 5px solid transparent;
}
.open-popup .comments .area .comment .content {
    background-color: #fff;
    border-radius: 4px;
    padding: 2px 5px;
    margin: -55px 0 10px 60px;
    width: 85%;
}
.open-popup .comments .area .comment .content .name {
    margin-bottom: 5px;
    line-height: 20px;
    font-weight: bold;
}
.open-popup .comments .area .comment .content .name .date {
    color: gray;
    font-weight: 100;
    font-size: 12px;
}
.open-popup .comments .area .comment .content .description {
    position: static;
    margin: 0;
    width: 100%;
    line-height: initial;
}
.open-popup .comments .area .comment .content .description:hover {
    color: #000;
}
.open-popup .comments .add-comment {
    margin-top: 5px;
}
.open-popup .comments .add-comment .avatar {
    display: inline-block;
    vertical-align: top;
    margin-top: 16px;
}
.open-popup .comments .add-comment .comment-input {
    display: inline-block;
    width: 90%;
    margin: 0 0 0 10px;
}
.open-popup .comments .stars {
    position: absolute;
    margin: -8px 35px;
}
.open-popup .comments .add-comment .send {
    min-width: 8px;
    width: 25px;
    height: 30px;
    margin-top: -15px;
}